 <!DOCTYPE html>
 <html lang ="en">

     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styleshett.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>Mercado Liebre</title>
     </head> 
        
       
        <body>
            <header>
            <img src = "/images/logo-mercado-liebre.svg">
            <nav class="navegacion"><input type="search"></nav>
            <br>
            <div class="titu"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
            <ul>
                <li><a href="https://wwwppp.com">Ofertas</a></li>
                <li></span><a href="https://wwwppp.com">Tiendas Oficiales</a></li>
                <li></span><a href="https://wwwppp.com">Vender</a></li>
                <li></span><a href="https://wwwppp.com">Ayuda</a></li>

                <br>

                <li><a href="https://wwwppp.com">Crea tu cuenta</a><i class="far fa-address-card"></i></span> </li>
                <li><a href="https://wwwppp.com">Ingresá</a><i class="fas fa-sign-in-alt"></i></span></li>
                <li><a href="https://wwwppp.com">Mis compras</a><i class="fas fa-shopping-basket"></i></span></li>
            </ul>
            <div class="burger-menu"><i class="fas fa-bars"></i></div>
            </header>
            <br>
            <img src="/images/img-home-banner.jpg" width="360">

            <main>
                <section>
                    <article>
                    <h3>Basado en tu ultima visita</h3>
                    <img src = "/images/img-cafetera-moulinex.jpg" width="360">

                    <div class="precios">$6.770</div>
                    <div class="descuentos">40% off</div>
                    <div>Cafetera Moulinex</div>
                 </article>
                 <article>
                      
                    <img src = "/images/img-macbook-pro-2019.jpg"width="360">

                    <div class="precios">$230.000</div>
                    <div class="descuentos">20% off</div>
                    <div>Macbook pro 2019</div>

                   </article>

                 <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg"width="360">
                    <div class="precios">$70.500</div>
                    <div class="descuentos">10% off</div>
                    <div>Samsung Galaxy S10</div>
                 </article>



                 <article>
                    <img src ="/images/img-tv-samsung-smart.jpg"width="360">

                    <div class="precios">$23.200</div>
                    <div class="descuentos">5% off</div>
                    <div>SmarTv Samsung 43"</div>
                   
                  </article>
                </section>
            
                  
                    <section>
                     <h3>OFERTAS</h3>
                       <article>
                         <img src = "/images/img-cafetera-moulinex.jpg"width="360">

                         <div class="precios">$6.770</div>
                         <div class="descuentos">40% off</div>
                        <div>Cafetera Moulinex</div>
                       </article>

                       <article>
                      
                        <img src = "/images/img-macbook-pro-2019.jpg"width="360">

                        <div class="precios">$230.000</div>
                        <div class="descuentos">20% off</div>
                        <div>Macbook pro 2019</div>

                        </article>
                        
                        <article>
                             <img src ="/images/img-tv-samsung-smart.jpg"width="360">

                             <div class="precios">$23.200</div>
                             <div class="descuentos">5% off</div>
                             <div>SmarTv Samsung 43"</div>
                            </article>
                        
                         
                        
                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg"width="360">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% off</div>
                            <div>Samsung Galaxy S10</div>
                        </article>


                    </section>

            
                   
                

            </main>
  
            </body>
            <br>
            <br>
            <br>

        <footer>
           <span class="footerimg"><i class="fas fa-credit-card"></i></span>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <br>
                <span class="footerimg"><i class="fas fa-gift"></i></span>
            <h5>Envío gratis desde $ 2.500</h5> 
            <br>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <br>
                <span class="footerimg"><i class="fas fa-user-shield"></i></i></span>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <br>
                <h5 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </footer>
        
     </html>
    
 