/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
body{
    */
    *{
        margin:0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Roboto';
    }
    html{
        margin:auto;
    }
    body{
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #ebebeb;
    margin: auto;
    max-width: 100%;
}
.logo{
    width:50%;
}
.encabezado{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

article img{
max-width: 100%;
margin: auto;
}
header{
    background-color:#EAC926;
    font-size: 12px;
}
header ul{
    display: none;
}
section h3 {
    font-family: 'Roboto';
    color: #666;
    margin-bottom: 5px;

}
h3{
    font-size: 24px;
}
.precios{
    font-size: 18px;
    font-weight: bold;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.descripciones{
    font-size:16px;
}
.iconos{
    font-size: 2em;
}
.burger-menu{
    margin: auto;
    padding: 6px;
    border-radius: 5px;
    width: 40px;
    text-align:center;
    font-size: 2em;
    color: white;
    background-color:#1259c3;
}
.footerimg{
    text-align: center;
    font-size: 2em;
    color:#1259c3;
    line-height: 10px;
} 
.footerimg:hover{
    color: #03264C;
}
.titu{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 4px;
}
footer{
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
footer h5{
    margin-top: 5px;
    font-weight: bold;
    
}
.copy{
    color: #666;
}
.navegacion{
    text-align: left;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
}
main{
    margin: auto;
    width: 90vw;
}
main article{
    margin-bottom: 10px;
    
    background-color: white;
    
    
}

.send{
    margin-top: -15px;
    color: #39b54a ;
    font-size: 1.5em;
    border: solid 1px #39b54a;
    padding: 6px;
    border-radius: 100%;
    background-color: white;
    
}

 

.descrp{
    padding-left: 12px;
    padding-right: 12px;
    border-top: solid 0.5px #ebebeb;
    background-color: white;

    
}
.caja{
    display: flex;
    justify-content: flex-end;
    
}
#camion {
    transition: all .3s;
}

#camion:hover{
    transform: rotate(360deg);
}
.box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 70%;
}
.articulo{
    display: none;
    color: #666;
    font-size: 12px;
    opacity: 0;

}
.login{
    display: flex;
    margin: auto;
    background-color: #ebebeb;
    height:365px;
    justify-content: center;
    
    
    
}
form{
    display: flex;
}
.botones-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    

}
#boton-login{
    height: 8vh;
    width: 80vw;
    border: none;
    border-radius: 5px;

}
#boton-enviar{
    font-size: large;
    height: 70px;
    margin: center;
    border-radius: 5px;
    background:#1259c3 ;
    border: none;
    color: #ebebeb;
}
#boton-enviar :hover{
    background: #0022AA;
}
.signup-general{
    display: flex;
    justify-content: center;

}
#id-signup{
    border: none;
    border-radius: 5px;
    height: 4vh;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}
.signup{
    display: flex;
    flex-direction: column;
    width: 60vw;

    
}
.datos-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.letreo-signup{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio-signup{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.check-signup{
    display: flex;
flex-direction: column;
height: 30vh;
justify-content: space-between;
}

.post article{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.post:hover .articulo{
    opacity: 1;
    display: flex;
    
}
.post:hover{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);;
}


@media (min-width:361px) and (max-width:768px){
    
    .post article{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;    
    }

article{
    max-width: 48%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
img{
    max-width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.articulo{
    display: flex;
}
.encabezado{
    flex-wrap: nowrap;
    justify-content: space-around;
}
.logo{
    width: 100%;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.elmenu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around; 
    width:40% ;    
    
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    width: 20vw;
   

}
li{
    width:17vw;
}

.burger-menu{
    display: none;
}
.navegacion{
    
    height: 35px;
    width: 30vw;
    margin-left: none;
    margin: 1px;
}
.titu{
    width: 30vw;
}
.login{
    display: flex;
    margin: auto;
    background-color: #ebebeb;
    height:365px;
    
    
    
}
form{
    display: flex;
}
.botones-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    

}
#boton-login{
    height: 8vh;
    width: 80vw;
    border: none;
    border-radius: 5px;

}
#boton-enviar{
    font-size: large;
    height: 70px;
    margin: center;
    border-radius: 5px;
    background:#1259c3 ;
    border: none;
    color: #ebebeb;
}
.signup-general{
    display: flex;
    width: 100%;
    
    

}


.signup{
    display: flex;
    flex-direction: column;
    width: 60vw;

    
}


}
@media (min-width:769px) and (max-width:2000px){
    

    .post article{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        
        
    }
    article{
        max-width: 23%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    img{
        max-width: 100%;
    }
    .post article{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        
        
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    
    }
    .articulo{
        display: flex;
    }
    .encabezado{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo{
        width: 30vw;
    
    }
    .titu{
        width: 30vw;
    }
    header ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 10px;
    }
    .elmenu{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width:35%;    
        
    }
    a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto';
       
    
    }
    .burger-menu{
        display: none;
    }
    .navegacion{
        
        min-width: 30vw;
        height: 5vh;

    }
    
    .login{
        display: flex;
        margin: auto;
        background-color: #ebebeb;
        height:365px;
        
        
        
    }
    form{
        display: flex;
    }
    .botones-login{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        
        

    }
    #boton-login{
        height: 60px;
        width: 700px;
        border: none;
        border-radius: 5px;

    }
    #boton-enviar{
        font-size: large;
        height: 70px;
        margin: center;
        border-radius: 5px;
        background:#1259c3 ;
        border: none;
        color: #ebebeb;
    }
    
   
    .signup{
        display: flex;
        flex-direction: column;
        width: 30vw;
        
    }
    .datos-signup{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    .letreo-signup{
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .radio-signup{
        display: flex;
        justify-content: space-around;
        width: 65%;
        
    }
    .check-signup{
        display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
    }
    footer{
        flex-direction: row;
        text-align: center;
        padding: 5px;
        display: flex;
        align-items: center;
    
    }

    }
