/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
body{
    */
    body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
header{
    background-color:#EAC926;
    font-size: 12px;
}
h3{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size:16px
    ;
}
.iconos{
    font-size: 2em;
}
.burger-menu{
    text-align:center;
    font-size: 2em;
    color: white;
    background-color:#1259c3;
}
.footerimg{
    text-align: center;
    font-size: 2em;
    color:#1259c3;
    line-height: 10px;
} 
.titu{
    text-align: center;
}
footer{
    text-align: center;

}
footer h5{
    font-weight: bold;
    
}
.copy{
    color: #666;
}
.navegacion{
    text-align: center;
}